.albums{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(55rem, 1fr));
    column-gap: 2rem;
    width: 90vw;
    margin: auto;
    background-color: $color-almost-white;
    justify-content: center;
    align-items: start;
    text-align: center;
    box-shadow: $shadow-subtle;
}

.album{
    margin: 5rem 1rem;
    border:  1px solid $color-grey-light;
    //padding: 12px;
    box-shadow: $shadow-minimal;
    width: 55rem;
    text-align: center;
    background-color: white;
    height: 25rem;
    display: flex;
    flex-direction: column;
    transition: all 0.6s ease-in-out;
    &:hover{
        height: 27rem;
        margin-bottom: 1rem;
        padding-bottom: 0;
    }
    &:hover &__extended-info{
        height: 6rem;
    }
    &:hover &__extended-info>*{
        display: block;
        opacity: 1;
    }
    &:hover &__extended-info::before{
        transform: rotate(45deg);
    }

    
    &__basic-info{
        display: flex;
    }
    &__extended-info{
        position: relative;
        height: 2rem;
        background-color: $color-white;
        transition: all 0.6s ease-in-out;
        overflow: hidden;
        &>*{
            transition: all 0.6s ease-in-out;
            display: none;
            opacity: 0;
        }
        &::before{
            transition: all 0.35s ease-in-out;
            position: absolute;
            z-index: 2;
            content: '';
            left: 50rem;
         //   top: -1rem;
            border: solid $color-grey-light;
            border-width: 0 6px 6px 0;
            display: block;
            padding: 4px;
            transform: rotate(-45deg);
              
        }
       
    }

    figure{
        padding: 2.5rem;
    }
    &__description{
        margin: auto;
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-self: stretch;
       
    }

  

    &__name{
        font-size: 2.2rem;
        margin-bottom: 1.5rem;
        text-transform: uppercase;
        padding: .5rem 1.5rem;
        font-weight: 600;
        display: block;
        color:$color-black;
    }

    &__artist{
        font-size: 1.8rem;
        color:$color-grey-darkest;
        margin-bottom: .5rem;
    }
    &__release-date{
        font-size: 1.5rem;
        color:$color-grey-darkest;
        margin-bottom: 1.5rem;
    }

    &__link--song:link,
    &__link--song:visited,
    &__link--genre:link,
    &__link--genre:visited{
        text-decoration: none;
        font-size: 1.6rem;
        color: $color-secondary;
        font-weight: 600;
        transition: all .2s;
        &:hover{
            text-shadow: $pink-blur;
            transform: scale(1.05);

        }
    }
    
    &__cta-btn{
        border-radius: 3px;
        border: 3px solid $color-secondary;
     
        
        opacity: 0.85;
        padding: 0.5rem 1rem;
        background-color: $color-white ;
        transition: all .35s;
        &>a:link,
        &>a:visited{
            text-decoration: none;
        }
        &:hover{
            opacity: 1;
            transform: scale(1.05);
            box-shadow: $pink-blur;
        }
    }
    &__count,
    &__price{
        color: $color-secondary;
        font-weight: 600;
        font-size: 1.6rem;
    }
  
}