//colors
    $color-white: #fff;
    $color-almost-white: #eee;
    $color-black: #000;

//mixins


//shadows


*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
    font-size: 62.5%; //1rem = 10px
}
body {
    background: radial-gradient(circle, rgba(98,122,252,0.8295693277310925) 30%, rgba(153,101,228,1) 62%, rgba(230,97,124,1) 95%);
  
}
