@import "base";
@import "layout/header";
@import "layout/albums";
@import "layout/footer";

.App {
    text-align: center;
    background: radial-gradient(circle, rgba(98,122,252,0.8295693277310925) 30%, rgba(153,101,228,1) 62%, rgba(230,97,124,1) 95%);
  
  }
  
  .album {
    width: 60%;
    margin: 16px auto;
    border:  1px solid #555;
    padding: 16px;
    text-align: center;
    background-color: white;
  }